{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% endblock %}

{% block content %}

    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
    <div class="game">
        <div id="dino"></div>
        <div id="cactus"></div>
    </div>
    <script src="scripts.js"></script>
    </body>
    </html>

{% endblock %}