{% extends "layouts/base.html" %}

{% block meta %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

<h1>Ellen</h1>

<div id="weather">
    <h3>Weather</h3>
    <div class="forecast">
        <p class="vertical-bottom">
            <button type="button" onclick="fetchForecast()">Fetch</button>
        </p>
    </div>
</div>

<script>
    // Weather API

    function fetchForecast() {
        var endpoint =
            "https://api.openweathermap.org/data/2.5/onecall?lat=32.7157&lon=-117.161087&exclude=current,hourly,minutely,alerts&units=metric&appid=bde9c20de4953a3a0aa8610e01dc1c4e";
        var forecastEl = document.getElementsByClassName("forecast");

        fetch(endpoint)
            .then(function (response) {
                if (200 !== response.status) {
                    console.log(
                        "Looks like there was a problem. Status Code: " + response.status
                    );
                    return;
                }

                forecastEl[0].classList.add('loaded');

                response.json().then(function (data) {
                    var fday = "";
                    data.daily.forEach((value, index) => {
                        if (index > 0) {
                            var dayname = new Date(value.dt * 1000).toLocaleDateString("en", {
                                weekday: "long",
                            });
                            var icon = value.weather[0].icon;
                            var temp = value.temp.day.toFixed(0);
                            fday = `<div class="forecast-day">
						<p>${dayname}</p>
						<p><span class="ico-${icon}" title="${icon}"></span></p>
						<div class="forecast-day--temp">${temp*9/5+32}<sup>°F</sup></div>
					</div>`;
                            forecastEl[0].insertAdjacentHTML('beforeend', fday);
                        }
                    });
                });
            })
            .catch(function (err) {
                console.log("Fetch Error :-S", err);
            });
    };
</script>

{% endblock %}