{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% endblock %}

{% block content %}



    <div id="container">
        <div id="not-affys">
            <div id="content">

                <div>
                    <center>

                        <h1 style="color:red;">What nation are you destined to be in?</h1>

                        <p class = "p2">Read and answer each question to figure out!</p>
                    </center>
                </div>

                <script>
                    function calculateResults() {
                        let q1Value = document.querySelector('input[name="q1"]:checked').value;
                        let q2Value = document.querySelector('input[name="q2"]:checked').value;
                        let q3Value = document.querySelector('input[name="q3"]:checked').value;
                        let q4Value = document.querySelector('input[name="q4"]:checked').value;
                        let q5Value = document.querySelector('input[name="q5"]:checked').value;
                        let q6Value = document.querySelector('input[name="q6"]:checked').value;
                        let q7Value = document.querySelector('input[name="q7"]:checked').value;
                        let q8Value = document.querySelector('input[name="q8"]:checked').value;
                        let q9Value = document.querySelector('input[name="q9"]:checked').value;
                        let q10Value = document.querySelector('input[name="q10"]:checked').value;
                        let results = +q1Value + +q2Value + +q3Value + +q4Value + +q5Value + +q6Value + +q7Value + +q8Value + +q9Value + +q10Value
                        //alert("Total results: " + results);

                        if (results >= 40) {
                            document.getElementById("resultsDiv").innerHTML = "Fire Nation";
                        } else if (results < 40 && results >= 30) {
                            document.getElementById("resultsDiv").innerHTML = "Water Nation";
                        } else if (results < 30 && results >= 20) {
                            document.getElementById("resultsDiv").innerHTML = "Air Nomads";
                        } else if (results < 20 && results >= 10) {
                            document.getElementById("resultsDiv").innerHTML = "Earth Kingdom";
                        } else if (results < 10 && results >= 0) {
                            document.getElementById("resultsDiv").innerHTML = "AVATAR";

                        }


                    }
                </script>

                <form action="javascript:void(0);" onsubmit="calculateResults()">

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de58gvr-0a7ddfe7-0b7f-4aaa-9f77-3456451c182d.png/v1/fill/w_1192,h_670,strp/sokka_vector_wallpaper_pc__avatar_the_last_airbend_by_rawno34_de58gvr-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzI0MCIsInBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU1OGd2ci0wYTdkZGZlNy0wYjdmLTRhYWEtOWY3Ny0zNDU2NDUxYzE4MmQucG5nIiwid2lkdGgiOiI8PTU3NjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.PbremSAqnm3v2HAIHM34J4PyWx_TKRNlk_qIPQ4fBN0');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">

                        <legend>Question 1</legend>
                        <h4>A dragon attacks you. What attack do you decide to use?</h4>
                        <input type="radio" name="q1" id="q1x6" value="4"> <label for="q1x6">Slap it.</label><br>
                        <input type="radio" name="q1" id="q1x7" value="3"> <label for="q1x7">Accept the challenge with full confidence.</label><br>
                        <input type="radio" name="q1" id="q1x8" value="2"> <label for="q1x8">Run away. You have no chance</label><br>
                        <input type="radio" name="q1" id="q1x9" value="1"> <label for="q1x9">Stare at it blankly.</label><br>
                        <input type="radio" name="q1" id="q1x10" value="0" > <label for="q1x10">NA</label><br>
                    </fieldset>

                    <fieldset style= "background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de58gvr-0a7ddfe7-0b7f-4aaa-9f77-3456451c182d.png/v1/fill/w_1192,h_670,strp/sokka_vector_wallpaper_pc__avatar_the_last_airbend_by_rawno34_de58gvr-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzI0MCIsInBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU1OGd2ci0wYTdkZGZlNy0wYjdmLTRhYWEtOWY3Ny0zNDU2NDUxYzE4MmQucG5nIiwid2lkdGgiOiI8PTU3NjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.PbremSAqnm3v2HAIHM34J4PyWx_TKRNlk_qIPQ4fBN0');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend >Question 2</legend>
                        <h4>You are suddenly bored. What do you decide to do?</h4>
                        <input type="radio" name="q2" id="q2x6" value="4"> <label for="q2x6">Continue to be bored.</label><br>
                        <input type="radio" name="q2" id="q2x7" value="3"> <label for="q2x7">Eat.</label><br>
                        <input type="radio" name="q2" id="q2x8" value="2"> <label for="q2x8">Read a book.</label><br>
                        <input type="radio" name="q2" id="q2x9" value="1"> <label for="q2x9">Play a few rounds of Fortnite.</label><br>
                        <input type="radio" name="q2" id="q2x10" value="0" > <label for="q2x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de58gvr-0a7ddfe7-0b7f-4aaa-9f77-3456451c182d.png/v1/fill/w_1192,h_670,strp/sokka_vector_wallpaper_pc__avatar_the_last_airbend_by_rawno34_de58gvr-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzI0MCIsInBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU1OGd2ci0wYTdkZGZlNy0wYjdmLTRhYWEtOWY3Ny0zNDU2NDUxYzE4MmQucG5nIiwid2lkdGgiOiI8PTU3NjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.PbremSAqnm3v2HAIHM34J4PyWx_TKRNlk_qIPQ4fBN0');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 3</legend>
                        <h4>You are suddenly thirsty. What drink do you choose?</h4>
                        <input type="radio" name="q3" id="q3x3" value="4"> <label for="q3x3">Water.</label><br>
                        <input type="radio" name="q3" id="q3x4" value="3"> <label for="q3x4">Mountain Dew.</label><br>
                        <input type="radio" name="q3" id="q3x5" value="2"> <label for="q3x5">Orange Fanta.</label><br>
                        <input type="radio" name="q3" id="q3x6" value="1"> <label for="q3x6">Sprite.</label><br>
                        <input type="radio" name="q3" id="q3x10" value="0" > <label for="q3x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de6x5lt-804ea224-18a2-4473-8e5f-14021f1de670.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU2eDVsdC04MDRlYTIyNC0xOGEyLTQ0NzMtOGU1Zi0xNDAyMWYxZGU2NzAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.v83whnT56V7eX3DsT1blEKL1ePLWn5VL73h6dm0inBI');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 4</legend>
                        <h4>It is raining outside. You decide to...</h4>
                        <input type="radio" name="q4" id="q4x6" value="4"> <label for="q4x6">Go outside and play in the rain.</label><br>
                        <input type="radio" name="q4" id="q4x7" value="3"> <label for="q4x7">Stay inside. It's cold.</label><br>
                        <input type="radio" name="q4" id="q4x8" value="2"> <label for="q4x8">Stare at the rain because you have nothing better to do.</label><br>
                        <input type="radio" name="q4" id="q4x9" value="1"> <label for="q4x9">Sleep. As you always do.</label><br>
                        <input type="radio" name="q4" id="q4x10" value="0" > <label for="q4x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de6x5lt-804ea224-18a2-4473-8e5f-14021f1de670.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU2eDVsdC04MDRlYTIyNC0xOGEyLTQ0NzMtOGU1Zi0xNDAyMWYxZGU2NzAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.v83whnT56V7eX3DsT1blEKL1ePLWn5VL73h6dm0inBI');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 5</legend>
                        <h4>What is the best video game ever created?</h4>
                        <input type="radio" name="q5" id="q5x5" value="4"> <label for="q5x5">Valorant.</label><br>
                        <input type="radio" name="q5" id="q5x6" value="3"> <label for="q5x6">Fortnite.</label><br>
                        <input type="radio" name="q5" id="q5x7" value="2"> <label for="q5x7">Minecraft.</label><br>
                        <input type="radio" name="q5" id="q5x8" value="1"> <label for="q5x8">Rocket League.</label><br>
                        <input type="radio" name="q5" id="q5x10" value="0"> <label for="q5x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de6x5lt-804ea224-18a2-4473-8e5f-14021f1de670.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU2eDVsdC04MDRlYTIyNC0xOGEyLTQ0NzMtOGU1Zi0xNDAyMWYxZGU2NzAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.v83whnT56V7eX3DsT1blEKL1ePLWn5VL73h6dm0inBI');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 6</legend>
                        <h4>Someone insults you and calls you ugly. How do you respond?</h4>
                        <input type="radio" name="q6" id="q6x6" value="4"> <label for="q6x6">Say thank you.</label><br>
                        <input type="radio" name="q6" id="q6x7" value="3"> <label for="q6x7">Stare at them with evil eyes with evil intent.</label><br>
                        <input type="radio" name="q6" id="q6x8" value="2"> <label for="q6x8">Ignore them.</label><br>
                        <input type="radio" name="q6" id="q6x9" value="1"> <label for="q6x9">Start roasting them then and there.</label><br>
                        <input type="radio" name="q6" id="q6x10" value="0"> <label for="q6x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de56980-2e9067ab-401c-4e09-a667-80855a19d62f.jpg/v1/fill/w_1192,h_670,q_70,strp/suki_vector_wallpaper___avatar_the_last_airbender__by_rawno34_de56980-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvOGEzNzc2NjAtZmNiYy00M2NjLWIwM2YtNjhhYzA0ZTYxOTIzXC9kZTU2OTgwLTJlOTA2N2FiLTQwMWMtNGUwOS1hNjY3LTgwODU1YTE5ZDYyZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.XEJC4ZPDtdZDAxQAn3pNOF_Z3bieAHXF-KkIVvrOAKk');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 7</legend>
                        <h4>The firelord suddenly approaches you and challenges you to a battle. How do you respond?</h4>
                        <input type="radio" name="q7" id="q7x5" value="4"> <label for="q7x5">Throw the middle finger at him.</label><br>
                        <input type="radio" name="q7" id="q7x6" value="3"> <label for="q7x6">Accept the challenge with full confidence.</label><br>
                        <input type="radio" name="q7" id="q7x7" value="2"> <label for="q7x7">Run away.</label><br>
                        <input type="radio" name="q7" id="q7x8" value="1"> <label for="q7x8">Slap him.</label><br>
                        <input type="radio" name="q7" id="q7x10" value="0"> <label for="q7x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de56980-2e9067ab-401c-4e09-a667-80855a19d62f.jpg/v1/fill/w_1192,h_670,q_70,strp/suki_vector_wallpaper___avatar_the_last_airbender__by_rawno34_de56980-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvOGEzNzc2NjAtZmNiYy00M2NjLWIwM2YtNjhhYzA0ZTYxOTIzXC9kZTU2OTgwLTJlOTA2N2FiLTQwMWMtNGUwOS1hNjY3LTgwODU1YTE5ZDYyZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.XEJC4ZPDtdZDAxQAn3pNOF_Z3bieAHXF-KkIVvrOAKk');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 8</legend>
                        <h4>What is the meaning of life?</h4>
                        <input type="radio" name="q8" id="q8x5" value="4"> <label for="q8x5">Food</label><br>
                        <input type="radio" name="q8" id="q8x6" value="3"> <label for="q8x6">Life has no meaning.</label><br>
                        <input type="radio" name="q8" id="q8x7" value="2"> <label for="q8x7">To follow my dreams and help make the world a better place.</label><br>
                        <input type="radio" name="q8" id="q8x8" value="1"> <label for="q8x8">To live then eventually die.</label><br>
                        <input type="radio" name="q8" id="q8x10" value="0"> <label for="q8x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de56980-2e9067ab-401c-4e09-a667-80855a19d62f.jpg/v1/fill/w_1192,h_670,q_70,strp/suki_vector_wallpaper___avatar_the_last_airbender__by_rawno34_de56980-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvOGEzNzc2NjAtZmNiYy00M2NjLWIwM2YtNjhhYzA0ZTYxOTIzXC9kZTU2OTgwLTJlOTA2N2FiLTQwMWMtNGUwOS1hNjY3LTgwODU1YTE5ZDYyZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.XEJC4ZPDtdZDAxQAn3pNOF_Z3bieAHXF-KkIVvrOAKk');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 9</legend>
                        <h4>Your are told to do the dishes. How do you respond?</h4>
                        <input type="radio" name="q9" id="q9x6" value="4"> <label for="q9x6">Do the dishes.</label><br>
                        <input type="radio" name="q9" id="q9x7" value="3"> <label for="q9x7">Ignore the command.</label><br>
                        <input type="radio" name="q9" id="q9x8" value="2"> <label for="q9x8">Start whining.</label><br>
                        <input type="radio" name="q9" id="q9x9" value="1"> <label for="q9x9">Watch tik tok videos.</label><br>
                        <input type="radio" name="q9" id="q9x10" value="0"> <label for="q9x10">NA</label><br>
                    </fieldset>

                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de54xic-fa35dfe4-d5d5-439b-8094-1900ced4472e.jpg/v1/fill/w_1280,h_2276,q_75,strp/aang_vector_wallpaper__avatar_the_last_airbender__by_rawno34_de54xic-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjI3NiIsInBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU1NHhpYy1mYTM1ZGZlNC1kNWQ1LTQzOWItODA5NC0xOTAwY2VkNDQ3MmUuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Y5dl-r9u2NCaJ8-9u_3TFhFe03TjrXOFFDvB2Gs1m7U');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <legend>Question 10</legend>
                        <h4>What is the best social media platform?</h4>
                        <input type="radio" name="q10" id="q10x5" value="4"> <label for="q10x5">Instagram.</label><br>
                        <input type="radio" name="q10" id="q10x6" value="3"> <label for="q10x6">Youtube.</label><br>
                        <input type="radio" name="q10" id="q10x7" value="2"> <label for="q10x7">TikTok.</label><br>
                        <input type="radio" name="q10" id="q10x8" value="1"> <label for="q10x8">Twitch.</label><br>
                        <input type="radio" name="q10" id="q10x10" value="0"> <label for="q10x10">NA</label><br>
                    </fieldset>


                    <fieldset style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a377660-fcbc-43cc-b03f-68ac04e61923/de54xic-fa35dfe4-d5d5-439b-8094-1900ced4472e.jpg/v1/fill/w_1280,h_2276,q_75,strp/aang_vector_wallpaper__avatar_the_last_airbender__by_rawno34_de54xic-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjI3NiIsInBhdGgiOiJcL2ZcLzhhMzc3NjYwLWZjYmMtNDNjYy1iMDNmLTY4YWMwNGU2MTkyM1wvZGU1NHhpYy1mYTM1ZGZlNC1kNWQ1LTQzOWItODA5NC0xOTAwY2VkNDQ3MmUuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Y5dl-r9u2NCaJ8-9u_3TFhFe03TjrXOFFDvB2Gs1m7U');
                               background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;">
                        <input type="submit" value="Submit"/>

                        <div  id="resultsDiv"/>

                        <br>
                        <br>
                        <br> <br> <br> <br>
                    </fieldset>

                    <fieldset>
                        <a class="button" href="http://127.0.0.1:8080/Training/">Start your training now!!! :o</a>
                    </fieldset>

                </form>




{% endblock %}