{% extends "layouts/base.html" %}


{% block content %}

    <h1>Avatar</h1>
    <p>Find Your Nation Today!</p>
    <img src="https://c.tenor.com/8-tAOVECWzwAAAAC/aang-avatar.gif" alt="giffin"


{% endblock %}

{% block meta %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {padding-top:50px;height:1000px;color: #fff; background-position: center; background-repeat: no-repeat; background-size: cover; background-color: #1E88E5;background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGrqm4ESlBf8ox-9oa3Gubk32QytjdVnKghA&usqp=CAU");
            background-color: #cccccc;
        }

        h1 {
            color: black;
            text-align: center;
        }

        p {
            color: black;
            font-family: "Arial Rounded MT Bold";
            font-size: 35px;
            text-align: center;

        }
    </style>

{% endblock %}
