{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    <h1>
        <blockquote><blockquote>
            <body>

            <h1 style="background-color:#778da9;text-align:center">Kashish </h1><br>

            <p>Hi! I'm a senior, class of 2022 at Del Norte High School! </p>



            <br><a class="button" href="https://docs.google.com/document/d/1Vq5dNQy-iN9p6DGT1PZSG1VUp3FRJ_72Pq5ppDtPAwg/edit?usp=sharing">Pair Share Journal</a></br>
            <br><a class="button" href="https://github.com/sanvi1855544/p3-avatar/commits?author=kashishchopraa">My Commits</a></br>

            <img id="myImage" onclick="changeImage()" src="/static/images/kashish.jpeg"" width="200" height="500">


            <script>
                function changeImage() {
                    var image = document.getElementById('myImage');
                    if (image.src.match("/static/images/kashish.jpeg")) {
                        image.src = "/static/images/pomegranate.png";
                    } else {
                        image.src = "/static/images/kashish.jpeg";
                    }
                }
            </script>

            <h2>JavaScript Gelocation</h2>

            <p>Click the button to get your coordinates.</p>

            <button onclick="getLocation()">Try It</button>

            <p id="demo"></p>

            <script>
                const x = document.getElementById("demo");

                function getLocation() {
                    try {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } catch {
                        x.innerHTML = err;
                    }
                }

                function showPosition(position) {
                    x.innerHTML = "Latitude: " + position.coords.latitude +
                        "<br>Longitude: " + position.coords.longitude;
                }
            </script>
    </h1>

{% endblock %}