{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    <h1>
        <blockquote><blockquote>
            <body>

            <img id="myImage" onclick="changeImage()" src="/static/images/kashish.jpeg"" width="200" height="500">


            <script>
                function changeImage() {
                    var image = document.getElementById('myImage');
                    if (image.src.match("/static/images/kashish.jpeg")) {
                        image.src = "/static/images/pomegranate.png";
                    } else {
                        image.src = "/static/images/kashish.jpeg";
                    }
                }
            </script>
            <blockquote>
            </body>
    </h1>

{% endblock %}