{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    <h1>Purpose</h1>

    <p>Our website goal is to help relieve the stress of students here at Del Norte. At this school, there is a large emphasis on academics and APs, which lead to the majority of the students here having lots of stress and anxiety. This website aims to relieve that through interactive mini games which will follow the theme of the nostalgic cartoon, Avatar, which most students here at Del Norte have watched.</p>

<p>Your journey starts here! Navigate to <a href="../">Home</a> to get started, and then take your <a href="../FindYourNation">quiz</a> to find out your nation.</p>

{% endblock %}