{% extends "layouts/base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
    h1{
        align-text: center;
    }

    p{
        font-size: 18pt;
        padding-left: 40px;
        padding-right: 40px
    }
    </style>

{% endblock %}

{% block content %}
<div align="center"><h1> Our Purpose</h1></div>
    <p>Our website goal is to help relieve the stress of students here at Del Norte. At this school, there is a large emphasis on academics and APs, lead to the majority of the students here having lots of stress and anxiety. This website aims to relieve that through interactive mini games which will follow the theme of the nostalgic cartoon, Avatar, which most students here at Del Norte have watched.</p>

<div align="center">
    <p>Your journey starts here! Navigate to <a href="../">Home</a> to get started, and then take your <a href="../FindYourNation">quiz</a> to find out your nation.</p>
</div>
{% endblock %}